[Package]
version: 1
depends: 

[Product]
type: localboot
id: teska-local-user
name: teska-local-user
description: Installiert locale user im Format User1;User3;.... Benutzer;Administratoren; .... PwfuerUser1;PwfuerUser2; .....
advice: 
version: 1.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: uninstall.ins
updateScript: update.ins
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: val_username
multivalue: False
editable: True
description: Benutzername des lokalen User, getrennt durch ; bei Mehrfacheinträgen
values: ["Admin", "Admin;Lehrer;Schueler"]
default: ["Admin"]

[ProductProperty]
type: unicode
name: val_groupmember
multivalue: False
editable: True
description: Gruppenmitgliedschaft des lokalen Users, getrennt durch ; bei Mehrfacheinträgen
values: ["offline", "Administratoren", "Adminstratoren;Administratoren;Benutzer", "Benutzer", "Gaeste"]
default: ["offline", "Administratoren"]

[ProductProperty]
type: unicode
name: password
multivalue: False
editable: True
description: Password des lokalen Users, getrennt durch ; bei Mehrfacheinträgen
values: ["offline", "Adminpw123;Lehrerpw8784;123456789", "SecurePW!"]
default: ["offline"]
