[Package]
version: 3
depends: 

[Product]
type: localboot
id: teska-local-user
name: teska-local-user
description: Installiert locale user im Format User1;User3;.... Benutzer;Administratoren; .... PwfuerUser1;PwfuerUser2; .....
advice: 
version: 1.2
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: uninstall.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: val_username
multivalue: False
editable: True
description: Benutzername des lokalen User, getrennt durch ; bei Mehrfacheinträgen
values: ["Admin", "Admin;Lehrer;Schueler", "offline"]
default: ["offline"]

[ProductProperty]
type: unicode
name: val_groupmember
multivalue: False
editable: True
description: Gruppenmitgliedschaft des lokalen Users, getrennt durch ; bei Mehrfacheinträgen
values: ["Administratoren", "Adminstratoren;Administratoren;Benutzer", "Benutzer", "Gaeste"]
default: ["Benutzer"]

[ProductProperty]
type: unicode
name: password
multivalue: False
editable: True
description: Password des lokalen Users, getrennt durch ; bei Mehrfacheinträgen
values: ["Adminpw123;Lehrerpw8784;123456789", "SecurePW!", "offline"]
default: ["offline"]

[ProductProperty]
type: unicode
name: pwchange
multivalue: False
editable: True
description: Lege mit n für no und y für yes fest ob pw geändert werden kann
values: ["n", "n;y;y", "y"]
default: ["n"]

